In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 다음과 같은 데이터를 사용하여 답하시오.
데이터1과 데이터2를 아래와 같이 생성한다.

In [3]:
data1 = pd.DataFrame({'이름' : ['유관순', '유관순', '황진이', '황진이', '유관순'],
                     '중간' : [10, 20, 30, 40, 50]})
data2 = pd.DataFrame({'이름' : ['황진이', '유관순', '신사임당'],
                     '기말' : [30, 40, 50]})
data2

     이름  기말
0   황진이  30
1   유관순  40
2  신사임당  50

데이터1과 데이터2를 합쳐서 결과1과 같이 생성

In [4]:
result1 = pd.merge(data1, data2, on='이름', how='inner')
result1

    이름  중간  기말
0  유관순  10  40
1  유관순  20  40
2  유관순  50  40
3  황진이  30  30
4  황진이  40  30

데이터1과 데이터2를 합쳐서 결과2과 같이 생성

In [5]:
result2 = pd.merge(data1, data2, on='이름', how='outer')
result2

     이름    중간  기말
0   유관순  10.0  40
1   유관순  20.0  40
2   유관순  50.0  40
3   황진이  30.0  30
4   황진이  40.0  30
5  신사임당   NaN  50

## 2. winequality-both.csv 사용하여 아래의 답을 구하시오
ㄱ. 위의 파일을 읽어 데어터 프레임으로 구성한다

In [7]:
df = pd.read_csv('winequality-both.csv')
df

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,red,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,red,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,red,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,white,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
6493,white,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
6494,white,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
6495,white,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
6496,white,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

ㄴ. ㄱ에서 생성된 데이터 프레임 정보를 출력한다.

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  6497 non-null   object
 1   fixed acidity         6497 non-null   float64
 2   volatile acidity      6497 non-null   float64
 3   citric acid           6497 non-null   float64
 4   residual sugar        6497 non-null   float64
 5   chlorides             6497 non-null   float64
 6   free sulfur dioxide   6497 non-null   float64
 7   total sulfur dioxide  6497 non-null   float64
 8   density               6497 non-null   float64
 9   pH                    6497 non-null   float64
 10  sulphates             6497 non-null   float64
 11  alcohol               6497 non-null   float64
 12  quality               6497 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 660.0+ KB
None

ㄷ. ㄱ에서 생성된 데이터 프레임의 뒷부분 15개를 출력하다.

In [9]:
print(df.tail(15))

       type  fixed acidity  volatile acidity  citric acid  residual sugar  \
6482  white            4.9             0.470         0.17            1.90
6483  white            6.5             0.330         0.38            8.30
6484  white            6.6             0.340         0.40            8.10
6485  white            6.2             0.210         0.28            5.70
6486  white            6.2             0.410         0.22            1.90
6487  white            6.8             0.220         0.36            1.20
6488  white            4.9             0.235         0.27           11.75
6489  white            6.1             0.340         0.29            2.20
6490  white            5.7             0.210         0.32            0.90
6491  white            6.5             0.230         0.38            1.30
6492  white            6.2             0.210         0.29            1.60
6493  white            6.6             0.320         0.36            8.00
6494  white            6.5             0.240         0.19            1.20
6495  white            5.5             0.290         0.30            1.10
6496  white            6.0             0.210         0.38            0.80

      chlorides  free sulfur dioxide  total sulfur dioxide  density    pH  \
6482      0.035                 60.0                 148.0  0.98964  3.27
6483      0.048                 68.0                 174.0  0.99492  3.14
6484      0.046                 68.0                 170.0  0.99494  3.15
6485      0.028                 45.0                 121.0  0.99168  3.21
6486      0.023                  5.0                  56.0  0.98928  3.04
6487      0.052                 38.0                 127.0  0.99330  3.04
6488      0.030                 34.0                 118.0  0.99540  3.07
6489      0.036                 25.0                 100.0  0.98938  3.06
6490      0.038                 38.0                 121.0  0.99074  3.24
6491      0.032                 29.0                 112.0  0.99298  3.29
6492      0.039                 24.0                  92.0  0.99114  3.27
6493      0.047                 57.0                 168.0  0.99490  3.15
6494      0.041                 30.0                 111.0  0.99254  2.99
6495      0.022                 20.0                 110.0  0.98869  3.34
6496      0.020                 22.0                  98.0  0.98941  3.26

      sulphates  alcohol  quality
6482       0.35    11.50        6
6483       0.50     9.60        5
6484       0.50     9.55        6
6485       1.08    12.15        7
6486       0.79    13.00        7
6487       0.54     9.20        5
6488       0.50     9.40        6
6489       0.44    11.80        6
6490       0.46    10.60        6
6491       0.54     9.70        5
6492       0.50    11.20        6
6493       0.46     9.60        5
6494       0.46     9.40        6
6495       0.38    12.80        7
6496       0.32    11.80        6

ㄹ. 와인 종류에 따라 와인 품질 값의 정규분포(std)와 평균(mean) 값을 출력한다.

In [17]:
grouped = df.groupby(['type'])
grouped['quality'].agg(['std', 'mean'])

            std      mean
type
red    0.807569  5.636023
white  0.885639  5.877909